@import "tailwindcss";

@theme {
  --color-black-900: #09090b;
  --color-black-700: #585867;

  --color-brown-850: #5b4f41d9;
  --color-gray-100: #71717a;

  --color-primary: #486fdd;
  --color-primary-100: #cddaff;
}

@utility movie-hover {
  opacity: 100%;
  transition: opacity 0.5s;
}

@utility animate-typing {
  animation: typing 3s steps(20) infinite alternate, blink 3s infinite;
}

@keyframes typing {
  from {
    width: 0;
    visibility: hidden;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

  100% {
    border-color: var(--color-black-900);
  }
}

@utility anime-clip {
  clip-path: polygon(4% 4%, 70% 8%, 98% 80%, 2% 100%);
}

@utility animate-pendulum {
  animation: pendulum 0.3s;
}

@keyframes pendulum {
  from {
    transform: rotate(15deg);
  }

  to {
    transform: rotate(-15deg);
  }
}
